<div class="row">
  <div class="col-2" *ngFor="let photo of member.photos">
    <img
      src="{{ photo.url }}"
      alt="{{ photo.url }}"
      class="img-thumbnail p-1"
    />
    <div class="text-center mb-4">
      <button
        [disabled]="photo.isMain"
        (click)="setMainPhoto(photo)"
        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'"
        class="btn btn-sm"
      >
        main
      </button>
      <button
        class="btn btn-sm btn-danger"
        [disabled]="photo.isMain"
        (click)="deletePhoto(photo.id)"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label for="formFile" class="form-label mt-4"
      >Browse for photo to upload:</label
    >
    <input
      class="form-control"
      type="file"
      id="formFile"
      (change)="onFileSelected($event)"
    />
  </div>

  <button class="btn btn-lg btn-info" type="button" (click)="onUpload()">
    Upload
  </button>
</div>
